# Ignore macOS files
.DS_Store

# Ignore Python bytecode
__pycache__/
*.pyc

# Ignore NSCC related files
out-run.txt
jobsub.sh

# Ignore preprocessed data and trained model
*.pkl
*.pth
*.p
*.pt

# Virtual environments
.venv